#hero {
  background-image: url(../assets/Newport_RI_Restaurants.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 700px;
}
#hero .hero-overlay {
  position: absolute;
  /* top: 0; */
  left: 0;
  width: 100%;
  min-height: 700px;
  background: gray;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .hero-copy {
  background: none;
  text-align: center;
  position: relative;
  margin: auto;
}
#hero .hero-copy .display-3 {
  font-weight: 900;
  font-family: "Heebo", sans-serif;
  color: whitesmoke;
}
@media (max-width: 500px) {
  #hero .hero-copy .display-3 {
    font-size: 2.5rem;
  }
}
#hero .hero-copy .lead {
  font-weight: 700;
  /* font-family: "Montserrat", sans-serif; */
  color: seashell;
}
#intro {
  background-color: #e9ecef;
  /* margin: 0;
	padding: 0;
  width: 100%; */
  height: 100%;
}
#intro h2 {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
}
#intro .btn {
  background-color: lightsalmon;
  border-color: lightsalmon;
  color: cornsilk;
}
/* #intro p {
font-family: "Montserrat", sans-serif;
} */
#best-of .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 32px;
}
@media (max-width: 500px) {
  #best-of .container {
    flex-direction: column;
  }
}
#best-of .card {
  width: 30%;
  margin: 10px;
}
@media (max-width: 500px) {
  #best-of .card {
    width: 90%;
    margin: auto;
    margin-top: 15px;
  }
}
#best-of .card .medal h3 {
  font-size: 7.75rem;
  text-align: center;
  margin-top: 12px;
}
#best-of .card .card-body h5 {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
}
/* #best-of .card .card-body p {
	font-family: "Montserrat", sans-serif;
} */
#best-of .card .btn {
  background-color: lightsalmon;
  border-color: lightsalmon;
  color: cornsilk;
}
#info {
  background-color: #e9ecef;
  display: flex;
}
@media (max-width: 500px) {
  #info {
    margin-top: 40px;
    background: none;
  }
}
#info .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  align-items: center;
}
#info .container .jumbotron {
  background: none;
  margin-bottom: 0;
}
@media (max-width: 500px) {
  #info .container .jumbotron {
    padding: 0;
  }
}
#info .container .jumbotron img {
  max-width: 600px;
  padding: 0;
  margin-bottom: 0;
}
@media (max-width: 500px) {
  #info .container .jumbotron img {
    width: 100%;
    margin-bottom: 0;
  }
}
#info .container .card {
  width: 35%;
  height: 450px;
}
@media (max-width: 500px) {
  #info .container .card {
    width: 100%;
    margin-bottom: 15px;
    height: 100%;
  }
}
#sign-up {
  background-image: url(../assets/Newport_RI_Restaurants_Dinner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 700px;
}
#sign-up .sign-up-overlay {
  position: absolute;
  /* top: 0; */
  left: 0;
  width: 100%;
  min-height: 700px;
  background: gray;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sign-up .card {
  text-align: center;
  position: relative;
  margin: auto;
  width: 30rem;
  align-self: center;
}
#lunch-hero {
  background-image: url(../assets/BEST_LUNCH_NEWPORT_RI.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 700px;
}
@media (max-width: 500px) {
  #lunch-hero {
    min-height: 400px;
  }
}
#lunch-hero .meal-bg {
  min-height: 700px;
  display: flex;
  text-align: center;
}
@media (max-width: 500px) {
  #lunch-hero .meal-bg {
    min-height: 400px;
  }
}
.meal-bg .lunch-hero-overlay {
  position: absolute;
  /* top: 0; */
  left: 0;
  width: 100%;
  min-height: 700px;
  background: gray;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .meal-bg .lunch-hero-overlay {
    min-height: 400px;
  }
}
#lunch-hero .meal-bg .lunch-hero-copy {
  background: none;
  text-align: center;
  position: relative;
  margin: auto;
}
#lunch-hero .meal-bg .lunch-hero-copy .display-3 {
  font-weight: 900;
  font-family: "Heebo", sans-serif;
  color: whitesmoke;
}
@media (max-width: 500px) {
  #lunch-hero .meal-bg .lunch-hero-copy .display-3 {
    font-size: 2.5rem;
  }
}
#lunch-hero .meal-bg .lunch-hero-copy .lead {
  font-weight: 700;
  /* font-family: "Montserrat", sans-serif; */
  color: seashell;
}
#lunches .container .food-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 35px;
  background: none;
}
@media (max-width: 500px) {
  #lunches .container .food-item {
    margin-bottom: 0;
  }
}
#lunches .container .food-item-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin-bottom: 35px;
  background: none;
}
@media (max-width: 500px) {
  #lunches .container .food-item-right {
    margin-bottom: 0;
  }
}
#lunches .container .food-item img {
  max-width: 600px;
  padding: 0;
  margin-bottom: 0;
  margin-right: 30px;
}
@media (max-width: 500px) {
  #lunches .container .food-item img {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-right: 0;
  }
}
#lunches .container .food-item-right img {
  max-width: 600px;
  padding: 0;
  margin-bottom: 0;
  margin-left: 30px;
}
@media (max-width: 500px) {
  #lunches .container .food-item-right img {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-left: 0;
  }
}
#lunches .container .food-item .card {
  width: 30%;
  height: 450px;
}
@media (max-width: 500px) {
  #lunches .container .food-item .card {
    width: 100%;
    height: 100%;
  }
}
#lunches .container .food-item-right .card {
  width: 30%;
  height: 450px;
}
@media (max-width: 500px) {
  #lunches .container .food-item-right .card {
    width: 100%;
    height: 100%;
  }
}
